! FONTS
! -----------------------------------------------------------------------------
  Xft.antialias:  true
  Xft.hinting:    false
  Xft.hintstyle:  0
  Xft.dpi:        75
  Xft.rgba:       none

! ALL TERMINALS CONFIG | XTERM | URXVT
! -----------------------------------------------------------------------------
  *background:             #222222
  *foreground:             #aaaaaa
! *fading:                 40
! *fadeColor:              #222222
  *cursorColor:            #93a1a1
  *pointerColorBackground: #586e75
  *pointerColorForeground: #93a1a1

! XTERM
! -----------------------------------------------------------------------------
  XTerm*allowBoldFonts:     true
  XTerm*allowWindowOps:     true
  XTerm*boldMode:           false
  XTerm*charClass:          33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48
  XTerm*cursorBlink:        false
  XTerm*cutNewline:         true
  XTerm*faceName:           consolas
  XTerm*faceSize:           14
  XTerm*fastScroll:         true
  XTerm*fullscreen:         false
  XTerm*iconHint:           /home/abdel/.icons/XTerm.xpm
  XTerm*internalBorder:     1
  XTerm*jumpScroll:         true
  XTerm*keepSelection:      true
  XTerm*loginShell:         true
  XTerm*metaSendsEscape:    true
  XTerm*multiScroll:        true
  XTerm*omitTranslation:    fullscreen
  XTerm*on4Clicks:          group
  XTerm*on5Clicks:          page
  XTerm*saveLines:          1024000
  XTerm*scaleHeight:        1.0
  XTerm*scrollKey:          true
  XTerm*scrollTtyOutput:    false
  XTerm*selectToClipboard:  true
!  XTerm*SimpleMenu*font:    -*-clean-*-*-*-*-*-*-*-*-*-*-iso8859-2

  XTerm*font:     xft:bitstream vera sans mono:size=15:antialias=true
  XTerm.boldFont: xft:bitstream vera sans mono:bold:size=15:antialias=true

  XTerm*termName:           XTerm-256color
  XTerm*title:              XTerm
  XTerm*veryBoldColors:     14
  XTerm*VT100*geometry:     150x40
  XTerm*VT100*translations: #override                                                           \n\
                                       <btn1up>:    select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
                            Ctrl       <key> minus: smaller-vt-font()                           \n\
                            Ctrl       <key> plus:  larger-vt-font()                            \n\
                            Ctrl Shift <key> C:     copy-selection(CLIPBOARD)                   \n\
                            Ctrl Shift <key> V:     insert-selection(CLIPBOARD)

! URXVT
! -----------------------------------------------------------------------------
  URxvt.letterSpace:    0.0
  URxvt.font:     xft:bitstream vera sans mono:size=15:antialias=true
  URxvt.boldFont: xft:bitstream vera sans mono:bold:size=15:antialias=true
  URxvt.title:
  URxvt.perl-lib: ~/.urxvt/
  URxvt.perl-ext: tabbedex
  URxvt.perl-ext-common:       default,matcher,resize-font
  URxvt.urlLauncher:           firefox

  URxvt.keysym.C-minus:     resize-font:smaller
  URxvt.keysym.C-plus:      resize-font:bigger
  URxvt.keysym.C-equal:     resize-font:reset
  URxvt.keysym.C-question:  resize-font:show

  URxvt.iconFile:       /home/abdel/.icons/xterm.xpm
  URxvt.geometry:       150x40
  URxvt.cutchars:       ,;
  URxvt.scrollBar:      false
  URxvt.imLocale:       en_US.UTF-8
  URxvt.loginShell:     true
  URxvt.saveLines:      1024000
  URxvt.inheritPixmap:  false
  URxvt.shading:        20
  URxvt.xftAntialias:   true
  URxvt.jumpScroll:     true
  URxvt.tintColor:      black
  URxvt.internalBorder: 2
  URxvt.cursorBlink:    false
  URxvt.cursorColor:    #dd9900
  URxvt.cursorColor2:   #000000
  URxvt.colorBD:        #dddddd
  URxvt.colorIT:        #bbbbbb
  URxvt.colorUL:        #999999
  URxvt.underlineColor: #999999
!  URxvt*transparent:          true
!  URxvt*shading:              10

! VERMADEN COLOR THEME
! -----------------------------------------------------------------------------
! black
  *color0:  #303030
  *color8:  #666666
! red
  *color1:  #ff6565
  *color9:  #ff8d8d
! green
  *color2:  #93d44f
  *color10: #c8e7a8
! yellow
  *color3:  #ce5c00
  *color11: #f57900
! blue
  *color4:  #537dba
  *color12: #6798d7
! magenta
  *color5:  #B7416E
  *color13: #E16A98
! cyan
  *color6:  #89b6e2
  *color14: #46a4ff
! white
  *color7:  #cccccc
  *color15: #ffffff

! XCALC
! -----------------------------------------------------------------------------
  xcalc*ti.button1.vertDistance:          4
  xcalc*ti.button2.vertDistance:          4
  xcalc*ti.button3.vertDistance:          4
  xcalc*ti.button4.vertDistance:          4
  xcalc*ti.button5.vertDistance:          4
  xcalc*ti.background:                    gray90
  xcalc*ti.bevel.borderColor:             gray65
  xcalc*ti.bevel.borderWidth:             1
  xcalc*ti.bevel.vertDistance:            4
  xcalc*ti.bevel.defaultDistance:         0
  xcalc*ti.bevel.background:              rgb:b/c/b
  xcalc*ti.bevel.screen*background:       rgb:b/c/b
  xcalc*ti.bevel.screen.borderColor:      rgb:b/c/b
  xcalc*ti.bevel.screen.vertDistance:     10
  xcalc*ti.bevel.screen.horizDistance:    10
  xcalc*ti.bevel.screen*left:             chainLeft
  xcalc*ti.bevel.screen*right:            chainRight
  xcalc*ti.bevel.screen*top:              chainTop
  xcalc*ti.bevel.screen*bottom:           chainBottom
  xcalc*ti.bevel.screen*LCD.foreground:   gray10
  xcalc*ti.bevel.screen*INV.vertDistance: 0
  xcalc*ti.Command.borderColor:           gray65
  xcalc*ti.Command.background:            gray85
  xcalc*ti.Command.foreground:            gray30
  xcalc*ti.button5.background:            rgb:e/b/b
  xcalc*ti.button20.background:           rgb:e/d/c
  xcalc*ti.button25.background:           rgb:e/d/c
  xcalc*ti.button30.background:           rgb:e/d/c
  xcalc*ti.button35.background:           rgb:e/d/c
  xcalc*ti.button40.background:           rgb:b/b/e
  xcalc*ti.button22.background:           gray95
  xcalc*ti.button23.background:           gray95
  xcalc*ti.button24.background:           gray95
  xcalc*ti.button27.background:           gray95
  xcalc*ti.button28.background:           gray95
  xcalc*ti.button29.background:           gray95
  xcalc*ti.button32.background:           gray95
  xcalc*ti.button33.background:           gray95
  xcalc*ti.button34.background:           gray95
  xcalc*ti.button37.background:           gray95
  xcalc*ti.button38.background:           gray95
  xcalc*ti.button39.background:           gray95

! XMESSAGE
! -----------------------------------------------------------------------------
  xmessage*form.okay.shapeStyle:          rectangle
  xmessage*form.okay.background:          IndianRed
  xmessage*form.okay.foreground:          rgb:e/b/b
  xmessage*message*background:            ivory3
  xmessage*background:                    gray85
  xmessage*foreground:                    gray15
  xmessage*Scrollbar.width:               1
  xmessage*Scrollbar.borderWidth:         0
  xmessage*Text.?.cursorColor:            rgb:d/5/5
  xmessage*Text.borderColor:              gray65
  xmessage*Text*background:               gray95
  xmessage*Command.highlightThickness:    1
  xmessage*Command.internalWidth:         5
  xmessage*Command.internalHeight:        3
  xmessage*Command.borderColor:           gray40
  xmessage*Command.shapeStyle:            Rectangle
  xmessage*Command.background:            gray80
  xmessage*font:                          -*-clean-*-*-*-*-*-*-*-*-*-*-iso8859-2
